@model IEnumerable<TpMVC.Models.CursoUsuario>

@{
    ViewData["Title"] = "Mis Cursos";
    //                <a href=@item.Curso.ObtenerUrlCompleto() title=@item.Curso.ObtenerUrlCompleto() target="_blank"> Link</a>
}

<h2>Mis Cursos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Lenguaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Titulo)

            <td>
                @Html.DisplayFor(modelItem => item.Curso.Lenguaje.Nombre)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Curso.Nivel.Nombre)
            </td>
            <td>
                <a href=@item.Curso.ObtenerUrlCompleto() title=@item.Curso.ObtenerUrlCompleto() target="_blank"> Link</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
