@model IEnumerable<TpMVC.Models.CursoUsuario>

@{
    ViewData["Title"] = "Mis Cursos";
    //                <a href=@item.Curso.ObtenerUrlCompleto() title=@item.Curso.ObtenerUrlCompleto() target="_blank"> Link</a>
}

<h2>Mis Cursos</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por lenguaje..">
<hr />

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Lenguaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background:@item.Curso.Nivel.ClaseCss">
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Titulo)

                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Lenguaje.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Nivel.Nombre)
                </td>
                <td>
                    <a href=@item.Curso.ObtenerUrlCompleto() title=@item.Curso.ObtenerUrlCompleto() target="_blank"> Link</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table id="myTable">

<script>
    function myFunction() {

        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>