@model TpMVC.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programador.NombreApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnioPublicado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnioPublicado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lenguaje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lenguaje.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nivel.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Video.Duracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Video.ServidorStreaming)
        </dd>
        <dt>
            Link
        </dt>
        <dd>
            @Model.ObtenerUrlCompleto()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
